* {
  margin: 0;
  border: 0;
}
body{
    padding: 50px;
}
.container {
  display: grid;
  grid-template-columns: 200px 75px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.container1 {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50px 75px 50px;
  margin-bottom: 20px;
}

.container2 {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 20px;
  column-gap: 10px;
  row-gap: 10px;
}