* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 50px;
}
.facebook-header {
  display: flex;
  justify-content: space-between;
  /* max-width: 500px; */
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
  align-items: center;
  box-shadow: inset 1px 1px 3px grey;
}
.left-side {
  display: flex;
  align-items: center;
}
.image {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 30px;
}
.Name {
  margin-left: 10px;
}
.right-side {
  display: flex;
  align-items: center;
}
.Add-Friend-button {
  margin: 0px 10px;
  padding: 5px 10px;
  height: 40px;
  background-color: rgb(69, 69, 215);
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
.Message-button {
  margin: 0px 10px;
  padding: 5px 10px;
  height: 40px;
  background-color: rgb(69, 69, 215);
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
