body {
  font-family: arial;
}
h1 {
  text-transform: capitalize;
  font-size: 40px;
  text-align: center;
}
.container {
  display: inline-block;
  width: 400px;
  box-shadow: 1px 1px 10px grey;
  border-radius: 2px;
  padding: 10px;
}
.container1 {
  display: inline-block;
  vertical-align: middle;
}

.container2 {
  display: inline-block;
  vertical-align: middle;
}
.container3 {
  display: inline-block;
  vertical-align: middle;
}
.cat-image {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
.oliver {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 3px;
}
.cat-text {
  margin: 0;
  vertical-align: middle;
  margin-left: 10px;
  color: rgb(139, 136, 136);
  margin-bottom: 3px;
}
.populer {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  margin-left: 10px;
  color: rgb(139, 136, 136);
}

.follow-button {
  display: inline-block;
  margin-left: 200px;
  vertical-align: middle;
  background-color: rgb(83, 83, 231);
  height: 38px;
  width: 75px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 5px;
}
