.image {
  width: 50px;
  height: 50px;
  border-radius: 120px;
  vertical-align: middle;
  display: inline-block;
}
p {
  margin: 0px;
  color: grey;
}
.main-container {
  vertical-align: middle;
  display: inline-block;
  width: 300px;
  box-shadow: 1px 1px 10px rgb(211, 17, 17);
  padding: 5px;
  border-radius: 5px;
}
.sub-container {
  vertical-align: middle;
  display: inline-block;
}
button {
  vertical-align: middle;
  display: inline-block;
  background-color: blue;
  border: none;
  color: white;
  width: 60px;
  height: 30px;
  border-radius: 5px;

}
.buttons {
  vertical-align: middle;
  display: inline-block;
  margin-left: 100px;

}
.sub-container1 {
  vertical-align: middle;
  display: inline-block;
  margin-left: 10px;
}
.div1 {
  margin-bottom: 15px;
}
.title {
  color: black;
  font-weight: bold;
}