* {
  margin: 0;
  padding: 0;
}
body {
  font-family: arial;
  /* background-color: grey; */
}
.main-container {
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
  height: 340px;
  box-shadow: 1px 1px 10px;
}
.container {
  display: inline-block;
  padding: 3px;
  margin: 10px;
}
.img-container {
  margin: 0px;
  display: inline-block;
}
.text-container {
  margin: 0px;
  padding: 5px;
}
.image-cat {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.oliver {
  font-weight: bold;
}
.logo {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 20px;
  vertical-align: middle;
}
.friend {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  color: grey;
}
.add-button {
  margin-top: 15px;
  height: 30px;
  width: 90px;
  background-color: rgb(46, 46, 196);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
