.container-red{
    background-color: red;
    width: 400px;
    height: 400px;
   margin-left: auto;
   margin-right: auto;
}
.container-green{
    background-color: green;
    width: 400px;
    height: 400px;
    border-radius: 350px;
    align-items: center;
    margin:auto;
}
.yes,
.no {
  display: inline-block;
  vertical-align: middle;
}