body {
  font-family: arial;
}
.Container {
  margin: 0px;
  box-shadow: 1px 1px 10px black;
  width: 357px;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.cat-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  margin: 0;
  vertical-align: middle;
}
.text {
  outline: none;
  margin: 0;
  margin-left: 10px;
  width: 200px;
  height: 50px;
  border: none;
  vertical-align: middle;
}
.tweet-button {
  background-color: rgb(60, 60, 167);
  color: white;
  border: none;
  padding: 8px 16px 8px 16px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  margin: 0px;
}
.image-cat1 {
  margin-bottom: 5px;
  width: 200px;
  height: 220px;
  object-fit: cover;
}
.oliver {
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 0;
  margin-left: 10px;
}
.freind {
  margin: 4px 0px 4px 0px;
  color: rgb(32, 32, 32);
  margin-right: 0;
  margin-left: 10px;
}
.add-button {
  margin-top: 5px;
  background-color: rgb(91, 91, 213);
  color: white;
  border: none;
  padding: 8px 16px 8px 16px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  margin-top: 8px;
  margin-right: 0;
  margin-left: 10px;
}
.Container21 {
  margin-right: 10px;
  width: 200px;
  border-radius: 6px;
  display: inline-block;
  border: 1px grey solid;
  box-shadow: 1px 1px 10px black; 
}
.Container2 {
  margin-right: 10px;
  width: 200px;
  border-radius: 6px;
  display: inline-block;
  border: 1px grey solid;
}
.multiple-image {
  margin-right: 10px;
  width: 645px;
  border-radius: 6px;
  display: inline-block;
  border: 1px grey solid;
  padding: 10px;
  margin: 20px;
  box-shadow: 1px 1px 10px black;
}
