img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
input {
  width: 500px;
  height: 40px;
  border-radius: 40px;
  border: grey 1px solid;
  display: block;
  margin: auto;
  margin-top: 20px;
  padding-left: 20px;
  border: none;
  box-shadow: 1px 1px 5px grey;
  outline: none;
}
.google-search-button {
  height: 40px;
  width: 150px;
  margin: auto;
  margin-top: 30px;
  border-radius: 3px;
  border: none;
  background-color: rgb(224, 224, 224);
  font-size: 15px;
  margin-right: 10px;
}
.lucky-button {
  height: 40px;
  width: 150px;
  margin: auto;
  margin-top: 30px;
  border-radius: 3px;
  border: none;
  background-color: rgb(224, 224, 224);
  font-size: 15px;
}
