body {
  font-family: arial;
}
.search,
.email {
  display: block;
  margin: 20px;
  width: 300px;
  height: 50px;
  border-radius: 20px;
  border-style: solid;
  padding: 0px 0px 0px 10px;
  font-size: 18px;
  color: red;
}
ul {
  list-style-type: none;
}
.survey-paragraph {
  width: 240px;
  display: inline-block;
  vertical-align: middle;
  margin: 0%;
  margin-right: 20px;
}
.yes,
.no {
  display: inline-block;
  vertical-align: middle;
}
.google-image {
  width: 200px;
  margin: 10px 20px 0px 140px;
}
.search-google {
  display: block;
  margin: 20px;
  width: 500px;
  height: 39px;
  border-radius: 30px;
  border-style: solid;
  padding: 0px 0px 0px 10px;
  font-size: 18px;
}
.name {
  width: 114px;
  height: 37px;
  border-radius: 5px;
  border-style: solid;
  margin-bottom: 8px;
  border-width: 1px;
  padding-left: 10px;
}
.Email-signup {
  width: 246px;
  height: 37px;
  border-radius: 5px;
  border-style: solid;
  margin-bottom: 8px;
  border-width: 1px;
  padding-left: 10px;
  display: block;
}
.signup-button {
  width: 260px;
  height: 37px;
  border-radius: 5px;
  border-style: solid;
  margin-bottom: 8px;
  border-width: 1px;
  padding-left: 10px;
  color: white;
  font-weight: bold;
  background-color: rgb(43, 43, 225);
  font-size: 16px;
}
.pickup {
  width: 400px;
  height: 37px;
  border-radius: 5px;
  border-style: solid;
  margin-bottom: 8px;
  border-width: 1px;
  padding-left: 10px;
  display: inline-block;
  background-color: rgb(243, 243, 243);
}
.destination {
  width: 400px;
  height: 37px;
  border-radius: 5px;
  border-style: solid;
  margin-bottom: 8px;
  border-width: 1px;
  padding-left: 10px;
  display: block;
  background-color: rgb(243, 243, 243);
}
.request-now {
  display: inline-block;
  width: 120px;
  height: 37px;
  border-style: solid;
  margin-bottom: 8px;
  margin-right: 15px;
  border-width: 1px;
  padding-left: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
  vertical-align: middle;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.schedual {
  display: inline-block;
  width: 160px;
  height: 37px;
  border-style: solid;
  margin-bottom: 8px;
  border-width: 1px;
  padding-left: 10px;
  color: black;
  border: 1px solid rgb(243, 243, 243);
  background-color: rgb(243, 243, 243);
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.request-ride{
    margin: 0px 0px 10px 0px;
    font-size: 26px;
}