p {
  font-family: arial;
  margin: 0;
}

.new {
  text-align: center;
  font-size: 11px;
  color: red;
  text-transform: capitalize;
  margin-bottom: 0;
}

.mac {
  text-align: center;
  font-size: 18px;
  /* text-transform: capitalize; */
  margin-bottom: 0;
  margin-top: 5px;
}

.charged {
  text-align: center;
  font-size: 26px;
  /* text-transform: capitalize; */
  margin-bottom: 0;
  margin-top: 2px;
  font-weight: bolder;
}

.price {
  text-align: center;
  font-size: 11px;
  margin-bottom: 0px;
  margin-top: 7px;
}

.buy {
  margin: 0;
  text-align: center;
  /* margin-left: 150px; */
  display: flex;
  justify-content: center;
  background-color: blue;
  border: none;
  margin-top: 0px;
  border-radius: 30px;
  padding: 5px 8px 5px 8px;
  font-size: 12px;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.rate {
  font-weight: bold;
  margin-bottom: 0px;
}

.usd {
  font-size: 10px;
  color: grey;
  font-weight: 100;
  margin-bottom: 0px;
}

.gain {
  color: green;
  font-size: 12px;
  margin-top: 3px;
  text-align: left;
  margin-bottom: 0px;
}

.loss {
  color: red;
  font-size: 12px;
  margin-top: 3px;
  text-align: left;
  margin-bottom: 20px;
}

.After {
  color: grey;
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 20px;
}

.code {
  margin-bottom: 0;
}

.handel {
  color: grey;
}

.about {
  width: 460px;
  margin-top: 7px;
  margin-bottom: 0;
}

.outline {
  margin-top: 15px;
  margin-bottom: 0;
}

.x_id {
  color: blue;
  cursor: pointer;
}
