
        body {
            background-color: aqua;
        }

        .tahoma {
            font-family: tahoma;
            font-weight: 600;
        }

        .deal {
            font-family: Arial;
            font-weight: bolder;
            margin-top: 30px;
            margin-bottom: 0;
        }

        .sale {
            color: red;
            font-style: italic;
            margin-top: 3px;
            margin-bottom: 0;
        }

        .course {
            font-family: verdana;
            font-weight: bold;
            margin-bottom: 0;
        }

        .pro {
            color: rgb(105, 105, 105);
            margin-top: 3px;
            font-size: 14px;
            font-family: verdana;
            margin-bottom: 0;
        }

        .description {
            font-family: verdana;
            margin-top: 8px;
            margin-bottom: 0;
            width: 300px;
            font-size: 16px;
            line-height: 17px;
        }

        #get-button {
            margin: 10px 6px 10px 6px;
            background-color: green;
            border: none;
            padding: 4px 8px 4px 8px;
            border-radius: 3px;
            color: white;
            cursor: pointer;
        }

        .business {
            text-align: center;
            font-family: Arial;
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 0px;
        }

        .Apple {
            text-align: center;
            font-family: Arial;
            margin-top: 9px;
            margin-bottom: 0px;
            font-size: 14px;
        }

        .more {
            text-align: center;
            font-family: Arial;
            margin-top: 9px;
            margin-bottom: 0px;
            font-size: 12px;
            color: blue;
            cursor: pointer;
        }