.back {
            padding: 5px;
            vertical-align: top;
            cursor: pointer;
        }

        .next {
            padding: 5px;
            vertical-align: top;
            cursor: pointer;
        }

        .search {
            vertical-align: middle;
            margin-right: 4px;
            margin-left: 4px;
            font-size: 16px;
        }

        .strech {
            background-color: green;
            border-radius: 2px;
            border: none;
            color: white;
            cursor: pointer;
        }

        .strech:hover {
            /* top right bottom left */
            padding: 10px 20px 10px 20px;
            transition: 0.10s;
        }

        #shadow {
            background-color: green;
            border-radius: 2px;
            border: none;
            color: white;
            cursor: pointer;
            padding: 5px 7px 5px 7px;
        }

        #shadow:active {
            box-shadow: 1px 1px 5px black;
        }
       .number{
            background-color: green;
            border-radius: 2px;
            border: none;
            color: white;
            cursor: pointer;
            padding: 8px 15px 8px 15px;
            margin: 0px 10px 0px 10px;
            cursor: pointer;
        }
        .number:hover{
            padding-left: 25px;
            padding-right: 25px;
            margin-left: 0px;
            margin-right: 0px;
        }