* {
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 20px 10px;
  border: 1px black solid;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: inset 1px 1px 5px rgba(128, 128, 128, 0.187);
}
.inbox {
  display: flex;
  font-size: 10px;
  margin-bottom: 20px;
}
.sub-container {
  display: flex;
}
.image-area {
  display: flex;
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 10px;
}
.text-area {
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
