* {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font-family: arial;
}

img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 10px;
}
.main-div {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  width: 410px;
  padding: 10px;
}
.container1 {
  display: flex;
  font-size: 12px;
  color: grey;
  align-items: center;
  margin-bottom: 20px;
}
.container2 {
  display: flex;
}
.title {
  display: flex;
  justify-content: space-between;
}
