* {
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font-family: arial;
}

.container {
  display: flex;
  flex-direction: column;
  width: 410px;
  border: 1px solid black;
  padding: 10px;
}
.div1 {
  display: flex;
  justify-content: center;
}

img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 10px;
}
.user-id {
  display: flex;
  flex-direction: row;
}
.div2 {
  display: flex;
  border: 1px solid grey;
  border-radius: 15px;
  margin-top: 15px;
  margin-left: 60px;
  justify-content: center;

}
.column1 {
  height: 80px;
  width: 100px;
  background-color: rgb(232, 229, 229);
  border-radius: 15px;
  
}
.youtube-link {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
