* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: arial;
}
.box {
  background-color: grey;
  height: 170px;
  width: 300px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 4px;
}
.close {
  display: flex;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: black;
  height: 30px;
  width: 30px;
  padding: 10px;
  border-radius: 15px;
  align-items: center;
  margin-right: -3px;
  cursor: pointer;
}
