* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: arial;
}
.box {
  position: fixed;
  height: 400px;
  width: 650px;
  background-color: grey;
  margin: 50px;
}
.close-button {
  display: flex;
  position: absolute;
  top: -20px;
  left: -20px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-size: 24px;
  background-color: black;
  align-items: center;
  justify-content: center;
}
.video-length {
  display: flex;
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px;
  background-color: black;
  align-items: center;
  justify-content: center;
}
