* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: arial;
  padding: 20px;
}
.box {
  position: relative;
  display: inline-block;
}
.shirt-image {
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.offer {
  position: absolute;
  background-color: black;
  top: 10px;
  right: 0px;
  padding: 5px;
  border-radius: 1px;
}
